<!DOCTYPE HTML>
<html>
    <!--head-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta name="viewport" content="width=device-width,user-scalable=0"/>
        <meta name="MobileOptimized" content="320"/>
        <title>{{ title }}</title>
<style>
h1 {
    text-align: center;
}
div.button {
    border: solid 1px #357ebd;
    background-color: #428bca;
    color: #ffffff;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 100px auto ;
}
</style>
    </head>
    <body>
        <h1>《{{ title }}》</h1>
        <div id="prev" class="button">Prev</div>
        <div id="next" class="button">Next</div>
    {% csrf_token %}
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function send(operator) {
            $.ajax({
                url: "",
                method: "POST",
                "content-type": 'application/json',
                data: {
                    'operator': operator,
                }
            }).done(function() {
                  $( this ).addClass( "done" );
            });
            
        }
        $('#prev').click(function() {
            send('prev')
        });
        $('#next').click(function() {
            send('next')
        });
    </script>
    </body>
</html>
